<aside class="sidebar dark-bg flex">
    <div class="social-icons-wrapper">
        <div class="social-icons" title="LinkedIn">
            <a href="https://www.linkedin.com/in/abhishek-ejam/" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
        <div class="social-icons" title="X">
            <a href="https://x.com/abhishekejam/" target="_blank">
                <i class="fa-brands fa-x-twitter"></i>
            </a>
        </div>
        <div class="social-icons" title="GitHub">
            <a href="https://github.com/abhiejam" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
    </div>
</aside>